/*================== CSS Reset =================*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* apply natural box layout model */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* clearfix */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}




/*================== General Styles =================*/

body {
    margin: 0 auto;
    max-width: 100%;
}


h1 {
    font-size: 1.3rem;
    font-family: 'Hind', sans-serif;
    letter-spacing: 0.025rem;
}


h2 {
    font-size: 1.1rem;
    font-family: 'Hind', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #394b50;
}


h3 {
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    letter-spacing: 0.02rem;
    color: #394b50;
    margin-top: 4px;
    margin-bottom: 33px;
}


hr {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #e2e9f0;
    width: 85.5%;
}


/* To-top button */
.top {
    background-color: #333;
    position: fixed;
    width: 30px;
    bottom: 0;
    right: 10px;
    opacity: 0.4;
    display: none;
    border-radius: 10px 10px 0 0;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 6px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}

.top:hover {
    opacity: 1;
}


/* Navigation button styles for header and footer */
.nav-buttons li {
    display: inline-block;
}

.nav-buttons a {
    padding: 10px 5px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #868686;
    font-size: 0.6rem;
    border-radius: 2px;
    text-transform: uppercase;
    font-family: 'Droid Sans', sans-serif;
}


/* Forms */
.form-wrap {
    text-align: center;
}


.form-wrap input {
    height: 30px;
    width: 42%;
    border: none;
    border-radius: 2px;
    line-height: 30px;
    font-size: 0.7rem;
    padding: 6px;
    display: block;
    margin: 8px auto;
    box-shadow: none;
}

.form-wrap a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
    background: #ffbb42;
    padding: 14px 14px;
    border-radius: 2px;
    display: block;
    margin: 0 auto;
    width: 42%;
}


.form-wrap ::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    padding-left: 3px;
}

.form-wrap ::-moz-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    padding-left: 3px;
}

.form-wrap :-ms-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    padding-left: 3px;
}

.form-wrap .newsletter-border {
    border: 1px solid #e2e9f0;
    border-width: thin;
}



.form-name::-webkit-input-placeholder::before {
    font-family: fontAwesome;
    content:'\f007';
    color: #6e6e6e;
    font-size: 0.9rem;
    margin-right: 8px;   
}

.form-name::-moz-input-placeholder::before {
    font-family: fontAwesome;
    content:'\f007';
    color: #6e6e6e;
    font-size: 0.9rem;
    margin-right: 8px;  
}

.form-name:-ms-input-placeholder::before {
    font-family: fontAwesome;
    content:'\f007';
    color: #6e6e6e;
    font-size: 0.9rem;
    margin-right: 8px;  
}


.form-email::-webkit-input-placeholder::before {
    font-family: fontAwesome;
    content:'\f0e0';
    color: #6e6e6e;
    font-size: 0.9rem;
    margin-right: 8px;   
}

.form-email::-moz-input-placeholder::before {
     font-family: fontAwesome;
    content:'\f0e0';
    color: #6e6e6e;
    font-size: 0.9rem;
    margin-right: 8px;  
}

.form-email:-ms-input-placeholder::before {
    font-family: fontAwesome;
    content:'\f0e0';
    color: #6e6e6e;
    font-size: 0.9rem;
    margin-right: 8px;  
}


.form-phone::-webkit-input-placeholder::before {
    font-family: fontAwesome;
    content:'\f095';
    color: #6e6e6e;
    font-size: 0.9rem;
    margin-right: 8px;   
}

.form-phone::-moz-input-placeholder::before {
    font-family: fontAwesome;
    content:'\f095';
    color: #6e6e6e;
    font-size: 0.9rem;
    margin-right: 8px;  
}

.form-phone:-ms-input-placeholder::before {
    font-family: fontAwesome;
    content:'\f095';
    color: #6e6e6e;
    font-size: 0.9rem;
    margin-right: 8px;  
}




/*================== Header =================*/

.main-nav {
    margin: 5px 0 8px 5px;
    text-align: center;
}

.main-header-logo {
    display: block;
    width: 40px;
    margin-top: 0.2rem;
    margin-left: 0.2rem;   
}


.main-nav ul {
    display: block;
}
.main-nav li {
    margin: 1px;
}




/*================== Quote =================*/

.quote {
    background: #709dca;
    padding-bottom: 50px;
}


.quote h1 {
    color: white;
    text-transform: uppercase;
    padding-top: 50px;
    text-align: center;
    font-size: 1.3rem;
}

.quote h3 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.8rem;
}

.img-laptop {
    display: none;
}




/*================== Our Services =================*/

.services {
    color: #394b50;
    margin: 0 auto 8px;
}


.services h2 {
    margin-top: 50px;
}


.services-left {
    display: block;
    max-width: 95%;
    padding: 0 4%; 
}

.services-right {
    display: block;
    max-width: 95%;
    padding: 0 4% 4%; 
}


.services-list-header {
    text-transform: uppercase;
    font-family: 'Droid Sans', sans-serif;
    font-size: 0.7rem;
    font-weight: 700;
    margin-left: 54px;
}

.services-list-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
    line-height: 1.3rem;
    margin-bottom: 2px; 
    display: inline-block;
    margin-left: 77px; 
}


.icon-clock:before {
    content: '\f017';
    font-family: FontAwesome;
    display: inline-block;
    width: 50px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #709dca;
    font-size: 2.1rem;
    color: white;
    top: 20px;
    position: relative;
    margin-left: -27px;
}

.icon-grad:before {
    content: '\f19d';
    font-family: FontAwesome;
    display: inline-block;
    width: 50px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #709dca;
    font-size: 2.1rem;
    color: white;
    top: 20px;
    left: -7px;
    position: relative;
    margin-left: -27px;
}

.icon-code:before {
    content: '\f121';
    font-family: FontAwesome;
    display: inline-block;
    width: 50px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #709dca;
    font-size: 2.1rem;
    color: white;
    top: 20px;
    left: -4px;
    position: relative;
    margin-left: -27px;
}

.icon-responsive:before {
    content: '\f10a';
    font-family: FontAwesome;
    display: inline-block;
    width: 50px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #709dca;
    font-size: 2.1rem;
    color: white;
    top: 20px;
    left: 4px;
    position: relative;
    margin-left: -27px;
}

.icon-retina:before {
    content: '\f06e';
    font-family: FontAwesome;
    display: inline-block;
    width: 50px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #709dca;
    font-size: 2.1rem;
    color: white;
    top: 20px;
    left: -2px;
    position: relative;
    margin-left: -27px;
}

.icon-flat:before {
    content: '\f044';
    font-family: FontAwesome;
    display: inline-block;
    width: 50px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #709dca;
    font-size: 2.1rem;
    color: white;
    top: 20px;
    left: 3px;
    position: relative;
    margin-left: -27px;
}




/*================== About Us =================*/

.aboutus {
    background: #ffc155;
    padding-bottom: 10px;
}


.img-aboutus {
    max-width: 50%;
    float: right;
    margin-right: 0;
    margin-left: 20px;
    margin-bottom: 20px;
}


.aboutus h2 {
    padding: 50px 0 25px 0;
    color: white;
    padding-bottom: 10px;
}


.aboutus p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
    color: white;
    line-height: 1.3rem;
    padding-right: 20px;
    margin-bottom: 2px;
    margin-left: 20px;
}


.aboutus a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6rem;
    background: #709dca;
    padding: 10px 5px;
    border-radius: 2px;
    display: block;
    width: 80px;
    text-align: center;
    margin: 0 10px 10px 75%;
}




/*================== Choose Your Price =================*/

.chooseprice {
    background: #e7edf3;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #394b50;
    padding-bottom: 10px;
    padding-top: 50px;
}


.chooseprice div {
    text-transform: uppercase;
    padding-bottom: 5px;
}

.chooseprice ul {
    padding: 0;
    margin-bottom: 5px;
    font-size: 0.6rem;
}

.chooseprice hr {
    margin: 7.5px auto 10px;
}

.chooseprice-basic {
    width: 50%;
    background: white;
    display: block;
    border-radius: 2px;
    margin: 10px auto;
}

.chooseprice-premium {
    width: 50%;
    background: white;
    display: block;
    border-radius: 2px;
    margin: 10px auto;
}

.chooseprice-gold {
    width: 50%;
    background: white;
    display: block;
    border-radius: 2px;
    margin: 10px auto;
}

.chooseprice-heading {
    font-size: 1rem;
    padding: 10px 0 15px 0;
}

.chooseprice-pricing {
    font-size: 2.2rem;
    font-weight: 700;
    padding-bottom: 2px;
    color: #ffbb42; 
}

.chooseprice-pricing::first-letter {
    vertical-align: super;
    font-size: 1.6rem;
}

.chooseprice-pm {
    display: block;
    margin-bottom: 15px;
}

/* Also for other getstarted buttons */
.btn-getstarted {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6rem;
    background: #ffbb42;
    padding: 9px 13px;
    border-radius: 2px;
    display: block;
    width: 90px;
    text-align: center;
    margin: 15px auto 5px;
}




/*================== How It Works =================*/

.howitworks {
    text-align: center;
    padding: 50px 0 10px 0;
}


.howitworks img {
    margin-top: 5px;
    margin-bottom: 0;
    max-width: 90%;
}


.howitworks-steps {
    text-align: center;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    display: block;
    margin: 10px auto;
    max-width: 90%;
}


.howitworks-steps li {
    max-width: 100%;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
}

.howitworks small {
    padding: 5px 10px;
    font-size: 0.7rem;
    text-transform: none;
    font-weight: 300;
    display: block;
    margin-bottom: 5px;
}


.howitworks .btn-getstarted {
    padding: 10px 18px;
    border-radius: 2px;
    width: 120px;
    margin-top: 10px; 
}




/*================== Happy Clients =================*/

.happyclients {
    background: #ffc155
}


.happyclients h2 {
    padding-top: 50px;
    color: white;
}

.happyclients h3 {
    margin: 5px 0 25px;
    color: white;
}


.happyclients-profile-container {
    margin-bottom: 20px;
}

.happyclients-profile {
    display: block;
    max-width: 90%;
    background: white;
    margin: 0 auto 4px;
}

.happyclients-profile blockquote {
    margin: 30px 20px 20px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.1rem;
    font-size: 0.6rem;
    quotes: "\201C" "\201D";
}


.happyclients-profile blockquote:before {
    content: open-quote;
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 1.1rem;
    margin-left: -20px;
    padding-right: 11px;
}

.happyclients-profile blockquote:after {
    content: close-quote;
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 1.1rem;
    margin-right: -20px;
    padding-left: 4px;
}


.happyclients-profile span {
    display: block;
    margin: 25px 10px 20px 20px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.happyclients-name {
    font-style: normal;
    color: #f6772c;
}

/* Profile images */
.crop {
    width: 125px;
    height: 125px;
    overflow: hidden;
    border-radius: 50%;
    margin: 35px 10px 0 20px;
    float: left;
}

.crop img[src*="darwinmichle"] {
    margin: -10px 0 0 -5px;
}

.crop img[src*="madame"] {
    margin: -30px 0 0 -30px;
}

.crop img[src*="clipsarter"] {
    margin: -25px 0 0 -15px;
}

.crop img[src*="zamc"] {
    margin: -5px 0 0 -27px;
}




/*================== Newsletter =================*/

.newsletter h2 {
    margin: 50px 0 10px 0;
}


.address-wrapper {
    padding-bottom: 40px;
    margin-top: 10px;
    padding-top: 35px;
    max-width: 100%;
}

/* Circle shape */
.address-circle {
    border-radius: 50%;
    height: 0;
    width: 160px;
    padding-bottom: 160px;
    text-align: center;
    margin: 0 auto -1px;
    background-color: #394b50;
}

/* Circle content */
.address-circle ul {
    display: block;
    margin: 0 auto;
    padding-top: 11.965%;
    font-family: 'Open Sans', sans-serif;
    color: #acb0b2;
    line-height: 1.1rem;
    font-size: 0.7rem;
}

.address-circle ul li:first-of-type {
    text-transform: uppercase;
    color: white;
    line-height: 1.2rem;
    font-size: 0.8rem;
    font-weight: 700;
}

.address-circle ul li:last-of-type {
    color: #ffbb42;
}

/* Triangle shape */
.triangle {
    width: 0;
    height: 0;
    border-top: 14px solid #394b50;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    margin: 0 auto;
}

/* Company logo */
.address-wrapper img {
    display: block;
    margin: 7px auto 0;
}


.newsletter hr {
    width: 100%;
}




/*================== Footer =================*/

footer {
    text-align: center;
}


footer ul {
    margin-bottom: 15px;
}


/* Telephone number */
footer > a {
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #394b50;
}

footer a[href="tel:+987-9976-999"]::before {
    font-family: fontAwesome;
    content:'\f095';
    color: #394b50;
    font-size: 1rem;
    margin-right: 8px;   
}


.social i {
    margin: 20px 10px 25px;
    color: #709dca;
    font-size: 1rem;
}


.page-end {
    padding-top: 30px;
    width: 100%;
    background-color: #709dca;
}


/***********************************************
 * Media Queries
 ***********************************************/ 

@media only screen and (min-width: 500px) {

    /*================== General Styles =================*/


    /*================== Header =================*/

    .main-header {
        padding: 0rem 1rem 1rem;
    }

    .main-nav {
        float: right;
        margin-top: 1rem;
    }

    .main-header-logo {
        float: left;
        margin-top: 0.5rem;
        margin-left: 0.5rem;   
    }




    /*================== Quote =================*/


    /*================== Our Services =================*/


    /*================== About Us =================*/

    .img-aboutus {
    max-width: 30%;
    float: left;
    margin: 50px 15px 15px;
    }




    /*================== Choose Your Price =================*/

    .chooseprice-basic {
    width: 40%;
    }

    .chooseprice-premium {
        width: 40%;
    }

    .chooseprice-gold {
        width: 40%;
    }




    /*================== How It Works =================*/

    .howitworks-steps {
        margin: 20px auto;
    }

    .howitworks-steps li {
        margin-bottom: 8px;
    }




    /*================== Happy Clients =================*/

    .happyclients-profile blockquote {
        line-height: 1.2rem;
        font-size: 0.7rem;
    }


    .happyclients-profile span {
        margin: 25px 10px 46px 170px;
    }



    /*================== Newsletter =================*/

    .address-wrapper {
        background-image: url("img/map.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 90%;
    }

    .address-circle {
        width: 190px;
        padding-bottom: 190px;
    }

    .address-circle ul {
        padding-top: 8.965%;

    }

    .address-circle ul {
        line-height: 1.2rem;
        font-size: 0.8rem;
    }

    .address-circle ul li:first-of-type {
        line-height: 2rem;
        font-size: 1rem;
    }




    /*================== Footer =================*/


}




@media only screen and (min-width: 852px) {

    /*================== General Styles =================*/

    body {
        max-width: 1170px;
    }


    h1, .quote h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 2rem;
    }


    h3, .quote h3 {
        font-size: 1.023rem;
        letter-spacing: 0.02rem;
        margin-top: 4px;
        margin-bottom: 93px;
    }


    .top {
        width: 50px;
        padding: 8px 0;
    }

    .nav-buttons a {
        padding: 10px 18px;
        font-size: 0.8rem;
    }


    /* Forms */
    .form-wrap input {
        height: 50px;
        width: 22.991453%;
        line-height: 50px;
        font-size: 0.9rem;
        padding: 6px;
        display: inline-block;
    }

    .input-gutter {
        margin-left: 10px;
    }

    .form-wrap a {
        font-size: 0.8rem;
        padding: 18px 33px;
        display: inline-block;
        width: auto;
    }


    .form-wrap ::-webkit-input-placeholder {
        padding-left: 10px;
    }

    .form-wrap ::-moz-input-placeholder {
        padding-left: 10px;
    }

    .form-wrap :-ms-input-placeholder {
        padding-left: 10px;
    }


    .form-name::-webkit-input-placeholder::before {
        font-size: 1.3rem;
    }
    .form-name::-moz-input-placeholder::before {
        font-size: 1.3rem;
    }
    .form-name:-ms-input-placeholder::before {
        font-size: 1.3rem;
    }


    .form-email::-webkit-input-placeholder::before {
        font-size: 1.3rem;
    }
    .form-email::-moz-input-placeholder::before {
        font-size: 1.3rem; 
    }
    .form-email:-ms-input-placeholder::before {
        font-size: 1.3rem;
    }


    .form-phone::-webkit-input-placeholder::before {
        font-size: 1.3rem;
    }
    .form-phone::-moz-input-placeholder::before {
        font-size: 1.3rem;
    }
    .form-phone:-ms-input-placeholder::before {
        font-size: 1.3rem;
    }




    /*================== Header =================*/

    .main-header-logo {
        width: 50px;
        margin-top: 1rem;   
    }


    .main-nav {
        margin-top: 2rem;
    }




    /*================== Quote =================*/

    .quote {
        padding-bottom: 400px;
    }

    .quote h3 {
        padding-top: 2px;
        margin-bottom: 30px;
    }

    .img-laptop {
        display: block;
        max-width: 100%;
        margin: 50px auto -500px;
        padding: 200px;
        background-image: url("img/laptop.png");
        background-repeat: no-repeat;
        background-position: center center;
    }




    /*================== Our Services =================*/

    .services h2 {
        margin-top: 190px;
    }


    .services-left {
        float: left;
        max-width: 50%;
    }

    .services-right {
        float: right;
        max-width: 50%;
    }


    .services-list-header {
        font-size: 0.9rem;
        margin-left: 81px;
    }

    .services-list-content {
        font-size: 0.8rem;
        line-height: 1.8rem;
        margin-bottom: 60px; 
        margin-left: 81px; 
    }


    .icon-clock:before {
        width: 80px;
        font-size: 3rem;
        top: 25px;
        margin-left: -81px;
    }

    .icon-grad:before {
        width: 80px;
        font-size: 3rem;
        top: 25px;
        left: -7px;
        margin-left: -81px;
    }

    .icon-code:before {
        width: 80px;
        font-size: 3rem;
        top: 25px;
        left: -4px;
        margin-left: -81px;
    }

    .icon-responsive:before {
        width: 80px;
        font-size: 3rem;
        top: 25px;
        left: 4px;
        margin-left: -81px;
    }

    .icon-retina:before {
        width: 80px;
        font-size: 3rem;
        top: 25px;
        left: -2px;
        margin-left: -81px;
    }

    .icon-flat:before {
        width: 80px;
        font-size: 3rem;
        top: 25px;
        left: 3px;
        margin-left: -81px;
    }




    /*================== About Us =================*/

    .aboutus {
        padding-bottom: 0;
    }

    .img-aboutus {
        max-width: 50%;
        margin: 0 30px 0 0;
    }


    .aboutus h2 {
        padding: 10% 0 25px 0;
        color: white;
    }


    .aboutus p {
        font-size: 0.9rem;
        line-height: 1.8rem;
        padding-right: 30px;
        margin-bottom: 5%;
        margin-left: 0;
    }

    .aboutus a {
        font-size: 0.9rem;
        padding: 13px 33px;
        width: 150px;
    }




    /*================== Choose Your Price =================*/

    .chooseprice {
        padding-bottom: 160px;
        padding-top: 120px;
    }

    .chooseprice ul {
        margin-bottom: 20px;
        font-size: 1rem;
    }


    .chooseprice hr {
        margin: 15px auto 20px;
    }


    .chooseprice-basic {
        width: 33%;
        display: inline-block;
        margin: 0;
        transition: 0.25s ease-in-out;
    }

    .chooseprice-premium {
        width: 33%;
        display: inline-block;
        margin: 0;
        transition: 0.25s ease-in-out;
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
    }

    .chooseprice-gold {
        width: 33%;
        display: inline-block;
        margin: 0;
        transition: 0.25s ease-in-out;
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
    }

    .chooseprice-heading {
        font-size: 1.5rem;
        padding: 55px 0 30px 0;
    }

    .chooseprice-pricing {
        font-size: 3.5rem;
        padding-bottom: 10px;
    }

    .chooseprice-pricing::first-letter {
        font-size: 2.7rem;
    }

    .chooseprice-pm {
        margin-bottom: 32px;
    }

    .btn-getstarted {
        font-size: 0.9rem;
        padding: 17px 28px;
        margin: 20px auto 30px;
        width: auto;
        display: inline-block;
    }




    /*================== How It Works =================*/

    .howitworks {
        padding: 140px 0 50px 0;
    }


    .howitworks img {
        margin-top: 25px;
        margin-bottom: 30px;
        max-width: 80%;
    }


    .howitworks-steps {
        margin: 0 auto 60px;
        max-width: 90%;
    }

    .howitworks-steps li {
        max-width: 25%;
        float: left;
        text-align: center;
        font-size: 0.9rem;
    }

    .howitworks small {
        padding: 20px 50px;
        font-size: 0.8rem;
        margin-bottom: 0;
        
    }


    .howitworks .btn-getstarted {
        font-size: 0.9rem;
        padding: 17px 28px;
        margin: 50px 0 60px;
        width: auto;
    }




    /*================== Happy Clients =================*/

    .happyclients h2 {
        padding-top: 120px;
    }

    .happyclients h3 {
        margin: 5px 0 50px;
    }

    .happyclients-profile {
        float: left;
        max-width: 46%;
        margin: 2%;
    }

    .happyclients-profile blockquote {
        margin: 30px 20px 20px 170px;
        line-height: 1.6rem;
        font-size: 0.8rem;
    }

    .happyclients-profile blockquote:before {
        font-size: 1.6rem;
    }

    .happyclients-profile blockquote:after {
        font-size: 1.6rem;
    }

    .happyclients-profile span {
        margin: 25px 10px 36px 170px;
        font-size: 0.8rem;
    }




    /*================== Newsletter =================*/

    .newsletter {
        padding-bottom: 50px;
    }

    .newsletter h2 {
        margin: 150px 0 10px 0;
    }


    .address-wrapper {
        background-size: 100%; 
        padding-bottom: 201px;
        margin-top: 20px;
        padding-top: 75px;
    }

    .address-circle {
        width: 220px;
        padding-bottom: 220px;
    }

    .address-circle ul {
        padding-top: 7.965%;
    }

    .address-circle ul {
        line-height: 1.6rem;
        font-size: 0.8rem;
    }

    .address-circle ul li:first-of-type {
        line-height: 2.5rem;
        font-size: 1rem;
    }




    /*================== Footer =================*/

    footer ul {
        margin-bottom: 30px;
    }

    footer > a {
        font-size: 1.3rem;
    }


    footer a[href="tel:+987-9976-999"]::before {
        font-size: 1.2rem;
    }


    .social i {
        margin: 20px 10px 50px;
        font-size: 1.5rem;
    }


    .page-end {
        padding-top: 45px;
    }




    /*================== State =================*/

    .nav-buttons a:hover {
        color: white;
        background: #ffbb42;
    }


    .form-wrap a:hover,
    .chooseprice a:hover,
    .howitworks a:hover,
    .newsletter form a:hover {
        background-color: #ffad1b;
    }


    .aboutus-content a:hover {
        background: #5891ca;
    }


    .chooseprice div:hover {
        background-color: #709dca;
        color: white;
        -webkit-transform: scale(1.05);
                -ms-transform: scale(1.05);
            transform: scale(1.05);
    }


    .social a i:hover {
        color: #ffc155;
    }




}

